/* styles/products.module.css */

.productsContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.productDetails {
  padding: 10px;
  text-align: center;
}

.productTitle {
  color: #252b42;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.productCategory {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.productPrice {
  color: #bdbdbd;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.productDiscount {
  color: #23856d;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-left: 3px;
}

.productPriceInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMoreButton {
  border-radius: 5px;
  border: 1px solid #23a6f0;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  text-align: center;
}

.loadBtn {
  color: #23a6f0;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.2px;
  background-color: transparent; /* Add this line to remove background color */
  border: none;
  cursor: pointer;
  outline: none; /* Add this line to remove focus outline */
  padding: 0; /* Add this line to remove padding */
}

/* Responsive styling for different screen sizes */
@media only screen and (min-width: 1200px) {
  .productGrid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 80%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

/* Responsive styling for large screens */
@media only screen and (min-width: 1200px) {
  .productCard img {
    width: 183px;
    height: 238px;
    object-fit: cover;
    /* padding-left: 2.5rem;
    padding-right: 2.5rem; */
    /* Center the image within the container */
    margin: auto;
  }
}

/* Responsive styling for small screens */
@media only screen and (max-width: 480px) {
  .productGrid {
    grid-template-columns: repeat(1, 295px);
    grid-template-rows: repeat(4, 360px);
  }

  .productCard img {
    width: 295px;
    height: 360px;
    object-fit: cover;
    /* Center the image within the container */
    margin: auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

@media only screen and (max-width: 480px) {
  .productGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}
